<h3> Database: {{currentDb}}</h3>


<div class="row">
    <button type="button" class="btn btn-primary" ng-click="refresh()">Refresh</button>
    <button type="button" class="btn btn-primary" ng-click="uploadModal()">Upload</button>
    <button type="button" class="btn btn-primary" ng-click="searchModal()">Search</button>
</div>

<div class="row">
    <h3>Configuration</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <td>Key</td>
                <td>Value</td>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in info.config">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <h3>Statistics</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <td>Key</td>
                <td>Value</td>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in info.statistics">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>