<!DOCTYPE html>
<html ng-app="sparrowLogin">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/gentelella.min.css">
    <title>SparrowDB</title>
</head>

<body class="login" ng-controller="loginController">
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <img src="/img/logo.png" />
                <h2>SparrowDb Admin</h2>

                <form>
                    <h1>Login Form</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Host (127.0.0.1:8082)" ng-model="loginData.host" required />
                    </div>

                    <div>
                        <input type="text" class="form-control" placeholder="Username" ng-model="loginData.username" required />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password" placeholder="Password" required />
                    </div>
                    <div>
                        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="doLogin()">Login</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/sparrow.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>