<h3>Script</h3>


<div class="row" style="margin-top:20px">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <td><b>Name</b></td>
                <td width="10%"></td>
            </thead>
            <tbody>
                <tr ng-repeat="script in scripts | orderBy: script">
                    <td>{{script}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="getScript(script)">View</button>
                    </td>
                </tr>
                <tr ng-hide="scripts.length > 0">
                    <td><b>No scripts</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="x_panel" ng-show="currentScript.length > 0">
    <div class="x_title">
        <h2>Script: {{currentScript}}</h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content" id="editor" style="min-height: 400px">
    </div>
</div>

<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>